@model CoreWeb.Pages.Shared._LayoutModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>

    <link rel="Shortcut Icon" href="~/images/logo-big.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <style>
        .fakeimg {
            height: 100px;
            background: #aaa;
        }
    </style>
</head>
<body>
<<<<<<< HEAD
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>一 起 帮</h1>
        <p>@RenderSection("Ad", true)</p>
=======
    <header>一起帮·源栈欢迎您</header>
    <div style="background-color:aquamarine">
        <section>
        @RenderSection("Ad", true)
        </section>
>>>>>>> parent of 00da925... [作业]：完善了蛋糕 iii
    </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Index">首页</a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">文章<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Article/Articlelists">文章列表</a></li>
                            <li class="divider"></li>
                            <li><a href="/Article/Article">发布文章</a></li>
                            <li><a href="/Article/Article">我的文章</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">求助<b class="caret"></b></a>
                        @*<ul class="dropdown-menu">
                <li> <a href="/Suggest/Suggest">建议列表</a></li>
                <li class="divider"></li>
                <li><a href="/Suggest/">提出建议</a></li>
                <li><a href="/Suggest/">我的建议</a></li>
            </ul>*@
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">建议<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li> <a href="/Suggest/SuggestList?PageIndex=1">建议列表</a></li>
                            <li class="divider"></li>
                            <li><a href="/Suggest/Suggest">提出建议</a></li>
                            <li><a href="/Suggest/MySuggest?PageIndex=1">我的建议</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">消息<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li> <a href="/Message/Message?PageIndex=1">系统消息</a></li>
                            <li class="divider"></li>
                            <li><a href="/Message/MyMessage">我的消息</a></li>
                            <li><a href="/Message/NewMessage">发送消息</a></li>
                        </ul>
                    </li>

                    @if (ViewData["UserStatus"] == null)
                    {
                        <li><a href="/Login/Login">登录</a></li>
                        <li><a href="/Register">注册</a></li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Hi, @ViewData["UserStatus"]<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/User/UserData">个人资料</a></li>
                                <li class="divider"></li>
                                <li><a href="/Login/LogOut">退出登录</a></li>
                                <li><a href="/Cool">隐藏功能</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer>
        <hr style="color:darkgray" /><h6 style="color:dimgray">永远做最坏的打算 不要幻想事情有所转机!</h6>
    </footer>
</body>
</html>


