@page
@model CoreWeb.Pages.Suggest.SuggestListModel
@section Ad{ 建议列表}

@foreach (var item in Model.suggests)
{
    @*<h2>@item.Author.UserName 的建议</h2><br />*@
    <hr style="color:darkgray" />
    <h2>Title:</h2><br />
    @item.Title
    <h3>Body:</h3><br />
    <main>
        @item.Body
    </main>
}

    <ul class="pagination">
        <li class=""><a href="?PageIndex=@Model.PageUp">&laquo;</a></li>
        @for (int i = 0; i < 10; i++)
        {
            if (Model.PageIndex == Model.PageIndex + i)
            {
                <li class="active"><a href="?PageIndex=@(Model.PageIndex + i)">@(Model.PageIndex + i)</a></li>
            }
            else
            {
                <li class=""><a href="?PageIndex=@(Model.PageIndex + i)">@(Model.PageIndex + i)<b class="pre-scrollable"></b></a></li>
            }
        }
        @*<li class="active"><a href="?PageIndex=1">@Model.PageIndex</a></li>
        <li class="active"><a href="?PageIndex=2">2</a></li>
        <li class="active"><a href="?PageIndex=3">3</a></li>
        <li class="active"><a href="?PageIndex=4">4</a></li>
        <li class="active"><a href="?PageIndex=5">5</a></li>
        <li class="active"><a href="?PageIndex=6">6</a></li>*@
        <li class=""><a href="?PageIndex=@Model.PageDown">&raquo;</a></li>
    </ul>
